@font-face{
	font-family: myHead;
	src: url('Lobster/Lobster-Regular.ttf');
}
h1{
	font-family: myHead, sans-serif;
	background-color: blue;
	color: #7bfff9;
}
p{
	line-height: 1.8;
}
.header{
	background-color: rgb(110, 110, 165);
}
#first{
	color: rgba(110, 110, 165, 0.7);
}
.text-red{
	color: red;
}
.text-green{
	color: #04aa6d;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-underline{
	text-decoration: underline;
}
.text-upper{
	text-transform: uppercase;
}
.text-bold{
	font-weight: bold;
}
.text-em{
	font-style: italic;
	font-size: 28px;
}
.unordered{
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: none;
	color: green;
}
.ordered{
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: upper-alpha;
	color: green;
}
.unordered li:before{
	content: '\2611';
	margin-right: 10px;
	color: red;
}
.table{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-size: 16px;
}
.table th, .table td{
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}
.table th{
	background-color: #04aa6d;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #f2f2f2;
}
.table tr:nth-child(even){
	background-color: #f2f2f2;
}
.table tr:hover{
	background-color: #ddd;
}
.color-initial{
	color: inherit;
}
label.form-label{
	display: block;
	width: 100%;
	font-size: 1.2em;
	padding: 12px 8px;
}
input.form-control, select.form-control, textarea.form-control{
	display: block;
	width: calc(100% - 40px);
	margin: 8px;
	font-size: 1.2em;
	padding: 8px 12px;
	border-radius: 4px;
	outline: none;
	border: 1px solid #4f4f4f;
}
input.form-control:focus, select.form-control:focus, textarea.form-control:focus{
	border: 1px solid #04aa6dbf;
	outline: 1px solid #04aa6dbf;
}
select.form-control{
	width: calc(100% - 16px);
}
textarea.form-control{
	font-size: 1.8em;
	height: 80px;
}
button.btn{
	display: block;
	margin:8px;
	margin-left: auto;
	padding: 8px 12px;
	font-size: 1.2em;
	cursor: pointer;
	background: #04aa6d;
	color: #f2f2f2;
	border: none;
	border-radius: 4px;
}
button.btn:hover{
	background: #049862;
}
.linear-gradient-1{
	width: 200px;
	height: 100px;
	background-image: linear-gradient(45deg, green, red, yellow);
}
.linear-gradient-2{
	width: 200px;
	height: 100px;
	background-image: repeating-linear-gradient(45deg, green, red 10%, yellow 10%);
}
.linear-gradient-3{
	width: 200px;
	height: 100px;
	background-image: radial-gradient(red, green);
}
.linear-gradient-4{
	width: 200px;
	height: 100px;
	background-image: radial-gradient(circle, red, green 70%);
}
.linear-gradient-5{
	width: 200px;
	height: 100px;
	background-image: repeating-radial-gradient(circle, red, green 10%, yellow 10%);
}
.gradient-btn{
	display: block;
	margin:8px;
	padding: 8px 12px;
	font-size: 1.2em;
	cursor: pointer;
	color: #f2f2f2;
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(180deg, #00d12d, #00a824, #00d12d);
}
.gradient-btn:hover{
	background-image: linear-gradient(180deg, #00a824, #00d12d, #00a824);
}
.shadow-box{
	width: 200px;
	height: 200px;
	background-color: #00a824;
	margin: auto;
	box-shadow: 1px 31px 35px -21px rgba(0,0,0,0.75);
}
.transition-width{
	width: 200px;
	height: 100px;
	background-color: green;
	font-size: 1.2em;
	transition: all 2s;
}
.transition-width:hover{
	width: 500px;
	height: 200px;
	font-size: 1.8em;
}
.transform{
	width: 100px;
	height: 100px;
	background-color: red;
	margin-top: 100px;
	transition: all 1s;
}
.tr-translate:hover{
	transform: translate(50px, -20px);
}
.tr-rotate:hover{
	transform: rotate(30deg);
}
.tr-scale:hover{
	margin-left: 50px;
	transform: scale(2, 2);
}
.tr-skew:hover{
	transform: skew(20deg, 45deg);
}
.anime-wrap{
	width: 600px;
	height: 600px;
	background-color: #04aa6d;
	margin: auto;
	position: relative;
}
@keyframes animete{
	25%{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #33f5e5;
		left: 250px;
		top: 250px;
	}
	50%{
		width: 50px;
		height: 50px;
		border-radius: 0px;
		background-color: #f26bcc;
		left: 550px;
		top: 550px;
	}
	75%{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #33f5e5;
		left: 250px;
		top: 250px;
	}
	100%{
		width: 50px;
		height: 50px;
		border-radius: 0px;
		background-color: #f26bcc;
		left: 0px;
		top: 0px;
	}
}
.anime-obj-1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	background-color: #f26bcc;
	border-radius: 0px;
	animation-name: animete;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.anime-obj-2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	background-color: #f26bcc;
	border-radius: 0px;
	animation-name: animete;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
}
.anime-obj-3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	background-color: #f26bcc;
	border-radius: 0px;
	animation-name: animete;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: 2s;
}
